.header {
  background-color: $brand-grey-black;
}

.main {
  display: flex;
  border-top: 2px solid $brand-placeholder-bg;
}

.search {
  padding-left: $siteSpacing;
  input {
    width: #{calc(100% - 20px)};
  }
}

.filters-section {
  flex-grow: 1;
  padding: $siteSpacing 0 $siteSpacing / 2 0;
  @include small {
    flex: 0 0 25%;
  }
}

.filters {
  display: flex;
  justify-content: space-between;
  padding: $siteSpacing / 2 $siteSpacing $siteSpacing / 2 $siteSpacing;
  border-bottom: 2px solid $brand-grey-light;
  .filter {
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 800;
    color: #aaa;
    text-transform: uppercase;
    &:last-of-type {
      margin-right: 0;
    }
    &:hover {
      cursor: pointer;
    }
    .badge {
      margin-left: $siteSpacing / 4;
      padding: 3px 6px;
      border-radius: 5px;
      color: white;
      line-height: 12px;
      &.outbid {
        background-color: $brand-red;
      }
      &.winning {
        background-color: $brand-green;
      }
    }
  }
}

.results {
  .lane {
    padding: $siteSpacing / 2 $siteSpacing;
    border-bottom: 2px solid $brand-grey-light;
  }
}

.main-section {
  display: none;
  @include small {
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: $siteSpacing;
    justify-content: space-between;
    background-color: $brand-placeholder-bg;
    overflow: hidden;
    overflow-x: auto;
  }
}