*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

body {
  font-family: "Muli",
sans-serif;
}

a {
  text-decoration: none;
}

input {
  border: 1px solid $brand-grey-light;
  padding: $siteSpacing / 2;
  border-radius: 5px;
}
