.lane {
  .titles {
    display: flex;
  }
  .title {
    color: $brand-green;
    font-weight: 800;
    text-transform: uppercase;
  }
  .auction {
    margin-left: $siteSpacing / 2;
    color: $brand-grey-light;
    &::before {
      content: "";
      background-color: $brand-grey-light;
      height: 3px;
      width: 3px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      margin-right: $siteSpacing / 2;
    }
  }
  .details {
    display: flex;
    margin-top: $siteSpacing / 8;
    font-weight: 800;
    color: $brand-grey-black;
  }
  .stock {
    display: flex;
    justify-content: space-between;
    margin-top: $siteSpacing / 4;
    font-size: 12px;
    font-weight: 600;
  }
  .item {
    &-remaining {
      color: $brand-grey-light;
    }
    &-watching {
      color: $brand-orange;
    }
  }
}