.navbar {
  .main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $siteSpacing;
    @include medium {
      flex-direction: row;
    }
    .logo {
      background-image: url(/images/logo.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      height: 32px;
      width: 142px;
    }
    .menu {
      display: flex;
      margin-top: $siteSpacing;
      @include medium {
        margin-top: 0;
        margin-left: $siteSpacing * 3;
      }
      &-item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 $siteSpacing;
        color: $brand-menu-item;
        &:first-of-type {
          &.selected {
            &::after {
              width: 0;
              height: 0;
              border-left: 7px solid transparent;
              border-right: 7px solid transparent;
              border-bottom: 7px solid white;
              content: "";
              position: absolute;
              bottom: -20px;
            }
          }
        }
      }
      &-label {
        display: none;
        @include small {
          display: block;
          margin-left: $siteSpacing / 2;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
  }
  .sub-menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: $siteSpacing;
    @include small {
      flex-direction: row;
      justify-content: space-between;
    }
    @include medium {
      justify-content: unset;
    }
    .menu-item {
      position: relative;
      margin: $siteSpacing / 4 0;
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;
      color: $brand-grey-light;
      @include medium {
        font-size: 16px;
        margin-right: $siteSpacing * 3;
      }
      &:hover,
      &.selected {
        color: $brand-blue;
        @include medium {
          &::after {
            content: "";
            background-color: $brand-blue;
            text-decoration: underline;
            position: absolute;
            bottom: -20px;
            width: 100%;
            height: 3px;
          }
        }
      }
    }
  }
}
