.placeholder {
  background-color: white;
  padding: $siteSpacing / 2;
  flex: #{0 0 calc(50% - 2px)};
  margin: 1px;
  @include medium {
    flex: #{0 0 calc(25% - 2px)};
    margin: 0 1px;
  }
  .image,
  .price,
  .text-block {
    background-color: $brand-placeholder-bg;
  }
  .image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
  .price {
    position: relative;
    margin: -20px auto 0;
    width: 80%;
    padding: $siteSpacing / 0.75 0;
    border-radius: 30px;
    border: 3px solid white;
    @include medium {
      width: 90%;
      padding: $siteSpacing 0;
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: $siteSpacing / 2;
  }
  .text-block {
    padding: $siteSpacing / 2.5;
    margin-top: $siteSpacing / 2;
    width: 80%;
    &:nth-of-type(2) {
      width: 70%;
    }
  }
}
