//Colors
$brand-grey-black: #232a2e;
$brand-blue: #2c8ed9;
$brand-green: #1abb99;
$brand-red: #e74c3c;
$brand-orange: #e67e22;
$brand-menu-item: #888888;
$brand-grey-light: #bbbbbb;
$brand-placeholder-bg: #eeeeee;
$siteSpacing: 20px;
//Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$xl: 1200px;
